In [ ]:
import pandas as pd

In [ ]:
traffic_data = pd.read_csv('data/Traffic/train.csv')

In [ ]:
traffic_data.describe()

,ID,holiday,temp,rain_1h,snow_1h,clouds_all,year,month,day,hour,traffic_volume
count,33742.000000,33742.000000,33742.000000,33742.000000,33742.000000,33742.000000,33742.000000,33742.000000,33742.000000,33742.000000,33742.000000
mean,31332.500000,0.001334,281.252349,0.418743,0.000227,49.334450,2015.515115,6.513959,15.698980,11.401251,3260.255498
std,9740.620728,0.036495,13.258675,53.528977,0.008854,38.975489,1.889448,3.396934,8.722868,6.934105,1983.750199
min,14462.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2012.000000,1.000000,1.000000,0.000000,0.000000
25%,22897.250000,0.000000,272.210000,0.000000,0.000000,1.000000,2014.000000,4.000000,8.000000,5.000000,1202.250000
50%,31332.500000,0.000000,282.537000,0.000000,0.000000,64.000000,2016.000000,7.000000,16.000000,11.000000,3376.000000
75%,39767.750000,0.000000,291.870000,0.000000,0.000000,90.000000,2017.000000,9.000000,23.000000,17.000000,4930.000000
max,48203.000000,1.000000,310.070000,9831.300000,0.510000,100.000000,2018.000000,12.000000,31.000000,23.000000,7280.000000

In [ ]:
traffic_data['rain_1h'].value_counts()

rain_1h
0.00     31275
0.25       678
0.51       184
1.02        90
0.30        90
         ...
1.69         1
44.45        1
5.99         1
0.58         1
2.13         1
Name: count, Length: 333, dtype: int64